body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: #00000042; */
  color: #fff;
  font-size: 2vh;
  height: 100vh;
}

.beneficiary-page {
  background-color: #000000 !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* min-height: 100vh; */
  padding: 20px;
  /* box-sizing: border-box; */
}
.beneficiary-page h3 {
  color: #ff6633;
}

.text-place {
  text-align: justify;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

.header {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.header h3 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.donate-button {
  background-color: #ff6633;
  color: #fff;
  padding: 10px 37px;
  border: solid 0.5px #000000;
  cursor: pointer;
  font-size: 3vh;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}
.donate-button-container {
  width: 100%;
  display: flex;
  position: relative;
  left: 42.5vw;
  margin-bottom: 5vw;
}

.donate-button:hover {
  background-color: #f57c00;
}

.testimonials-section {
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  background-color: #00000000;
  height: 80vh;
}
.testimony{
  font-size: 5vh
}
.testimonial-card {
  position: relative;
  left: 20vw;
  background: #88888898;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:55vw;
  height: 50vh;
  margin: 0 0 20px 0;
  font-size: 1.5vw;
}

.testimonial-navigation {
  position: absolute;
  top: 35vh;
  left: 23vw;
  display: flex;
  justify-content: center;
}

.nav-button {
  background: #000000;
  border: none;
  color: #ff6633;
  padding: 10px;
  border-radius: 40%;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  transition: background 0.3s ease;
}

.nav-button:hover {
  background: #ff6633;
  color: #000000;
}

h4 {
  font-size: 20vh;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff6633;
}

.statistics-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.statistic {
  text-align: center;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  width: 100vw;
  max-width: 350px;
  border: 1px solid #ff6633;
}

.statistic .value {
  font-size: 45px;
  font-weight: bold;
  color: #ff6633;
}

.statistic .label {
  font-size: 20px;
  color: #ffffff;
}

.statistic p {
  font-size: 23px;
  color: #aaa;
  margin-top: 20px;
}

.impact-stories-section {
  text-align: center;
  width: 100vw;
  margin-bottom: 20px;
}

.impact-stories-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.stories {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  /* max-width: 100%; */
  overflow-x: auto; /* Enable scrolling if necessary */
  box-sizing: border-box;
  padding: 20px; /* Prevent content from touching the screen edges */
}

.story {
  background-color: #202020;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30vw;
  text-align: center;
  /* flex: 0 0 auto; */
  margin-bottom: 100px;
}

.story img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.story h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.story p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.read-more-button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: solid 0.5px #ff6633;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.read-more-button:hover {
  background-color: #6e6e6e88;
}

.donate-buttonx {
  background-color: #ff6633;
  color: #fff;
  padding: 10px 27px;
  border: solid 0.5px #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}


.impact-stories-section h2 {
  color: #ff6633;
  margin-top: 50px;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  .stories {
    flex-direction: column;
  }

  .story {
    width: 100%;
  }
  .statistic{
    position: relative;
    right: 15vw;
  }
  .impact-stories-section {
    position: relative;
    right: 10vw;
  }
  .donate-button-container{
    left: 30vw;
  }
  .testimonial-card {
    width: 70vw;
    font-size: 2vh;
    left: 8vw;
  }
}

@media (min-width:1600px) {
  .testimonial-card {
    left: 20vw;
  }
}
