.login-container {
  display: flex;
  flex-direction: row; /* Default for larger screens */
  width: 100%;
  height: 100vh; 
  background-image: url("../assets/world2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
}
.left-section1 {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section1 img {
  position: relative;
  left: 150px;
  bottom: 50px;
}

.left-section1 h1 {
  font-size: 3rem;
}

.right-section1 {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-holder {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid white;
}

.form-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 900;
  text-transform: uppercase;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container {
  margin-bottom: 16px;
}

.input-container label {
  margin-bottom: 8px;
  display: block;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
}

.form-container button {
  padding: 10px 20px;
  background-color: #ff8f33;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  position: relative;
  left: 25%;
}

.form-container button:hover {
  background-color: #6e6963;
}

.contact_line {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the entire line horizontally */
  margin: 20px;
  width: 90%; /* Make sure the entire width is used */
}

.line, .line2 {
  flex: 1;
  height: 1px;
  background-color: white;
}
.line{
  position: relative;
  top: 15px;
}

.section_subtitle {
  margin: 0 10px;
  font-size: 20px;
  color: white;
  white-space: nowrap; /* Prevent the text from wrapping */
}
.acc-section {
  margin-top: 20px;
  text-align: center;
}

.option-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff8f33;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #6e6963;
}

/* Modal styling */
.signup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signup-content {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
}

.signup-content h2 {
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.signup-content .input-container {
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.signup-content .input-container label {
  display: block;
  margin-bottom: 5px;
}

.signup-content .input-container input,
.signup-content .input-container select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #000000;
}

.signup-content button[type="submit"] {
  padding: 10px 20px;
  background-color: #ff8f33;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto 0;
  display: block;
}

.signup-content button[type="submit"]:hover {
  background-color: #8d8184;
}

@media (max-width: 768px) { /* You can adjust the breakpoint as needed */
  .login-container {
    flex-direction: column; /* Change to column on mobile screens */
    height: 100vh; /* Allow height to adjust based on content */
    background-size: cover;
    background-position:inherit;
  }

  .left-section1, 
  .right-section1 {
    flex: none; /* Remove flex properties for child sections */
    width: 100%; /* Ensure they take the full width */
    display: flex; /* Keep the flex properties for internal alignment */
    justify-content: center; /* Center items */
  }

  .left-section1 img {
    position: relative;
    top: 5vh;
    left: 0; 
    bottom: 0; 
    width: 80vw;
  
  }

  .form-holder {
    width: 90%; /* Adjust width for mobile */
    max-width: none; /* Remove max-width constraint */
    position: relative;
    top: 15%;
    margin: 0 auto; /* Center the form-holder */
  }

  .form-container button {
    width: 100%; /* Make button full width on mobile */
    left: 0; /* Reset positioning for mobile */
  }


}