@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .hero_image {
    -webkit-mask-image: url(/src/assets/hero.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
  }
  .mask-image {
    position: relative;
    overflow: hidden;
  }

  .mask-image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, black 20%, transparent 100%);
    z-index: 1;
  }

  .mask-image img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
  }
  .hero-bg {
    background-image: url("src/assets/images/world-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
  }
  .img-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
  }

  .hero-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: inherit; */
    filter: blur(10px);
    mask-image: radial-gradient(circle, transparent 20%, black 80%);
    -webkit-mask-image: radial-gradient(circle, transparent 20%, black 80%);
  }
  .blue__gradient {
    background: linear-gradient(
      180deg,
      rgba(188, 165, 255, 0) 0%,
      #214d76 100%
    );
    filter: blur(123px);
  }

  .pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
  }

  .white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
  }
}

:root {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* Ensure flex display does not interfere with login layout */
  display: block;
  min-width: 320px;
  min-height: 100vh;
  place-items: unset;
}

html {
  scroll-behavior: smooth;
}
input {
  background: transparent !important;
}
