/* DonationHistory.css */

.donation-history-container {
  display: flex;
  background-color: #29221d;
  padding: 20px;
  position: relative;
  bottom: 0vh;
  margin-left: 10vw;
  width: 100vw;
  height: 100vh;
}

.content {
  flex: 1;
  position: relative;
  left: 10vw;
  margin-top: 5vh;
  max-width: 70vw;
}

.content h2 {
  font-size: 2rem;
  color: #fff;
  position: relative;
  right: 27vw;
  bottom: 30px;
}

.transaction-list {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
}

.transaction-item {
  display: flex; 
  align-items: center; /* Align items within each transaction */
  background-color: #3c2d28; /* Slightly different background for each item */
  border-radius: 8px; /* Rounded corners for items */
  padding: 15px;
  margin: 10px 0; /* Spacing between items */
}

.transaction-image {
  width: 39.49px;
  height: 32px;
  margin-right: 15px;
  vertical-align: middle;
}

.transaction-details {
  flex-grow: 1; /* Allow details to take remaining space */
}

.active {
  color: #ff6633;
}

.inactive {
  color: #b6b4b4;
}

.donation-button {
  background-color: #ff6633;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 12px;
  cursor: pointer;
  border: none;
}

.donation-button:hover {
  background-color: #ff5422;
}

/* Media Query for Mobile Styles */
@media (max-width: 768px) {
  .donation-history-container {
    flex-direction: column;
    margin-left: 0;
    position: relative;
    right: 3vw;
    /* padding: 20px; */
  }

  .content {
    left: 0;
    max-width: 100%;
    margin-top: 0;
    padding: 10px;
  }

  .content h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
    position: relative;
    top: 2vh;
    right: 15vw;
  }

  .transaction-list {
    padding: 0; /* Remove padding for the list */
  }

  .transaction-item {
    flex-direction: column; /* Stack the image and details vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .transaction-image {
    margin: 0 0 10px 0; /* Add space below the image */
  }

  .transaction-details {
    text-align: left; /* Align text to the left */
  }

  .donation-button {
    width: 100%; /* Full width button for mobile */
    padding: 12px; /* Increase padding */
    font-size: 1.2rem; /* Increase font size */
    margin-top: 20px; /* Space above the button */
  }
}
