.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  flex-basis: 82%; /* Main content takes up 82% of the container's width */
  padding: 2rem;
  background-image: url('../../assets/kindr.jpeg');
  background-size: cover; /* Ensure image covers entire element */
  background-position: center; /* Center image */
  background-repeat: no-repeat; /* Prevent repeating */
  margin-left: 250px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.dashboard-section {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-sec {
  background-color: #29221D;
  width: 1400px;
  padding: 20px;
  border-radius: 15px;
  margin-left: 40px;
  margin-bottom: 40px;
}
