.progress-bar-container {
    width: 550px;
    margin-top: 10px;
    margin-right: 200px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.progress {
    height: 100%;
    background-color: #FF7043;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
}

.progress-bar-stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #FFF;
    margin-top: 5px;
}

.donation-stats {
    margin-top: 10px;
    font-size: 1rem;
    color: #FFF;
}

.donation-stats p {
    margin: 0;
    line-height: 1.5;
}
